services:
    victoire_core.widget_sitemap_content_resolver:
        class: Victoire\Widget\SitemapBundle\Resolver\WidgetSitemapContentResolver
        arguments:
            - @victoire_view_reference.repository
            - @request_stack
        tags:
            - { name: victoire_widget.widget_content_resolver, alias: Sitemap }

    #alias to the entity
    victoire.widget.sitemap:
        class: Victoire\Widget\SitemapBundle\Entity\WidgetSitemap

    #alias to the form
    victoire.widget.form.sitemap:
        class: Victoire\Widget\SitemapBundle\Form\WidgetSitemapType
        tags:
            - { name: form.type }
